.circle-out{
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.circle-inner{
    display: grid;
    place-items: center;
    background-color: rgb(244, 240, 240);
    font-size: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}